@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@300;400;500;600&display=swap");
.display-xl {
  font-size: var(--fs-display-xl);
  line-height: var(--lh-display-xl);
}

.display-lg {
  font-size: var(--fs-display-lg);
  line-height: var(--lh-display-xl);
}

.display-md {
  font-size: var(--fs-display-md);
  line-height: var(--lh-display-md);
}

.display-sm {
  font-size: var(--fs-display-sm);
  line-height: var(--lh-display-sm);
}

.heading-lg {
  font-size: var(--fs-heading-lg);
  line-height: var(--lh-heading-lg);
}

.heading-md {
  font-size: var(--fs-heading-md);
  line-height: var(--lh-heading-md);
}

.heading-sm {
  font-size: var(--fs-heading-sm);
  line-height: var(--lh-heading-sm);
}

.body-18 {
  font-size: var(--fs-body-18);
  line-height: var(--lh-body-18);
}

:root {
  --fs-display-xl: 64px;
  --fs-display-lg: 56px;
  --fs-display-md: 40px;
  --fs-display-sm: 32px;
  --fs-heading-lg: 28px;
  --fs-heading-md: 24px;
  --fs-heading-sm: 20px;
  --fs-body-18: 18px;
  --fs-body-md: 16px;
  --lh-display-xl: 1;
  --lh-display-lg: 1.28;
  --lh-display-md: 1.3;
  --lh-display-sm: 1.25;
  --lh-heading-lg: 1.28;
  --lh-heading-md: 1.333;
  --lh-heading-sm: 1.4;
  --lh-body-18: 1.333;
  --lh-body-md: 1.5;
}
@media screen and (max-width: 991px) {
  :root {
    --fs-display-xl: 56px;
    --fs-display-lg: 40px;
    --fs-display-md: 32px;
    --fs-display-sm: 28px;
    --fs-heading-lg: 24px;
    --fs-heading-md: 20px;
    --fs-heading-sm: 20px;
    --fs-body-18: 18px;
    --fs-body-md: 16px;
    --lh-display-xl: 1.28;
    --lh-display-lg: 1.3;
    --lh-display-md: 1.25;
    --lh-display-sm: 1.28;
    --lh-heading-lg: 1.333;
    --lh-heading-md: 1.4;
    --lh-heading-sm: 1.4;
    --lh-body-18: 1.333;
    --lh-body-md: 1.5;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --fs-display-xl: 56px;
    --fs-display-lg: 40px;
    --fs-display-md: 32px;
    --fs-display-sm: 28px;
    --fs-heading-lg: 24px;
    --fs-heading-md: 20px;
    --fs-heading-sm: 20px;
    --fs-body-18: 18px;
    --fs-body-md: 16px;
    --lh-display-xl: 1.28;
    --lh-display-lg: 1.3;
    --lh-display-md: 1.25;
    --lh-display-sm: 1.28;
    --lh-heading-lg: 1.333;
    --lh-heading-md: 1.333;
    --lh-heading-sm: 1.333;
    --lh-body-18: 1.333;
    --lh-body-md: 1.5;
  }
}
@media screen and (max-width: 479px) {
  :root {
    --fs-display-xl: 40px;
    --fs-display-lg: 32px;
    --fs-display-md: 32px;
    --fs-display-sm: 24px;
    --fs-heading-lg: 20px;
    --fs-heading-md: 16px;
    --fs-heading-sm: 20px;
    --fs-body-18: 18px;
    --fs-body-md: 16px;
    --lh-display-xl: 1.3;
    --lh-display-lg: 1.25;
    --lh-display-md: 1.25;
    --lh-display-sm: 1.333;
    --lh-heading-lg: 1.4;
    --lh-heading-md: 1.5;
    --lh-heading-sm: 1.4;
    --lh-body-18: 1.333;
    --lh-body-md: 1.5;
  }
}

#logo {
  display: none;
}

#wrapper {
  font-family: montserrat;
  padding: 0 !important;
}

#logo + h1,
#logo + h1 + #content,
h2#board_title {
  display: none;
}

.accessible .level-0 h3:first-of-type {
  border-bottom: 1px solid #CCD0D7;
  font-size: var(--fs-heading-md);
  line-height: var(--lh-heading-md);
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: var(--fs-heading-md);
  padding-bottom: var(--fs-heading-md);
}
@media screen and (max-width: 767px) {
  .accessible .level-0 h3:first-of-type {
    font-size: var(--fs-body-18);
    line-height: var(--lh-body-18);
    padding-top: var(--fs-body-18);
    padding-bottom: var(--fs-body-18);
  }
}

.accessible .level-0 h4:first-of-type,
.accessible .level-0 h5:first-of-type {
  display: none;
}

.opening[department_id] {
  border-bottom: 1px solid #CCD0D7;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: var(--fs-heading-md);
  padding-bottom: var(--fs-heading-md);
  font-size: var(--fs-heading-sm);
  line-height: var(--lh-heading-sm);
}
@media screen and (max-width: 767px) {
  .opening[department_id] {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
    padding-top: var(--fs-body-18);
    padding-bottom: var(--fs-body-18);
  }
}
.opening[department_id] .location {
  font-size: 16px;
  line-height: 1.5;
}

.opening a:first-of-type {
  font-size: var(--fs-heading-sm);
  line-height: var(--lh-heading-sm);
  color: #1747F0;
}
@media screen and (max-width: 767px) {
  .opening a:first-of-type {
    font-size: var(--fs-body-md);
    line-height: var(--lh-body-md);
  }
}

section.child {
  margin-left: 0;
}
